<%- include('../includes/head') %>
</head>
<body>
  <%- include('../includes/navigation') %>
  <hr>
  <form action="/auth/sign-up" method="post">
    <div>
      <label for="email">E-mail</label><br>
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">Password</label><br>
      <input type="password" name="password">
    </div>
    <div>
      <label for="password">Confirm Password</label><br>
      <input type="password" name="confirmPassword">
    </div>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>